# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Flask
instance/
.webassets-cache

# Environment Variables (CRITICAL)
.env
.env.*ß
!.env.example

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
